<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">개발 블로그입니다</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">고양이발</li><li><a class="u-email" href="mailto:thjjang04@gmail.com">thjjang04@gmail.com</a></li></ul>
        </div>
  
        <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/thxtdy"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">thxtdy</span></a></li></ul>
  </div>
  
        <div class="footer-col footer-col-3">
          <p></p>
        </div>
      </div>
  
    </div>
  
  </footer>
  </body>
  
  </html>
  